<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/newtranspbase</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">macorittogo</property>
     <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping resource="model/Proveedor.hbm.xml"/>
    <mapping resource="model/Camion.hbm.xml"/>
    <mapping resource="model/Extracto.hbm.xml"/>
    <mapping resource="model/AdelantoChofer.hbm.xml"/>
    <mapping resource="model/Seguro.hbm.xml"/>
    <mapping resource="model/DetPagoFlete.hbm.xml"/>
    <mapping resource="model/Producto.hbm.xml"/>
    <mapping resource="model/Chofer.hbm.xml"/>
    <mapping resource="model/Cliente.hbm.xml"/>
    <mapping resource="model/Combustible.hbm.xml"/>
    <mapping resource="model/DetallePagoComb.hbm.xml"/>
    <mapping resource="model/Usuario.hbm.xml"/>
    <mapping resource="model/Viatico.hbm.xml"/>
    <mapping resource="model/Extractoc.hbm.xml"/>
    <mapping resource="model/Contrasenha.hbm.xml"/>
    <mapping resource="model/UnidadOrigen.hbm.xml"/>
    <mapping resource="model/TipoCombustible.hbm.xml"/>
    <mapping resource="model/OrdenDeCarga.hbm.xml"/>
    <mapping resource="model/ExCamion.hbm.xml"/>
    <mapping resource="model/Itemc.hbm.xml"/>
    <mapping resource="model/PagoVarios.hbm.xml"/>
    <mapping resource="model/ValeVarios.hbm.xml"/>
    <mapping resource="model/Viaje.hbm.xml"/>
    <mapping resource="model/Recibo.hbm.xml"/>
    <mapping resource="model/ViaticoContra.hbm.xml"/>
    <mapping resource="model/Propietario.hbm.xml"/>
    <mapping resource="model/Item.hbm.xml"/>
    <mapping resource="model/PrecioComb.hbm.xml"/>
    <mapping resource="model/PagoCombustible.hbm.xml"/>
    <mapping resource="model/DetExtracto.hbm.xml"/>
    <mapping resource="model/Varios.hbm.xml"/>
    <mapping resource="model/CombustibleContra.hbm.xml"/>
    <mapping resource="model/ValeCombustible.hbm.xml"/>
    <mapping resource="model/Tolerancia.hbm.xml"/>
    <mapping resource="model/TipoItem.hbm.xml"/>
    <mapping resource="model/Rol.hbm.xml"/>
    <mapping resource="model/PrecioFlete.hbm.xml"/>
    <mapping resource="model/DetExtractoc.hbm.xml"/>
    <mapping resource="model/TipoItemc.hbm.xml"/>
    <mapping resource="model/TipoViatico.hbm.xml"/>
    <mapping resource="model/DetallePagoVarios.hbm.xml"/>
    <mapping resource="model/PagoFlete.hbm.xml"/>
    <mapping resource="model/UnidadDestino.hbm.xml"/>
    <mapping resource="model/TipoCarreta.hbm.xml"/>
    <mapping resource="model/Credito.hbm.xml"/>
    <mapping resource="model/ProveedorVarios.hbm.xml"/>
    <mapping resource="model/TipoCamion.hbm.xml"/>
    <mapping resource="model/Carreta.hbm.xml"/>
	<mapping resource="model/ProveeCliente.hbm.xml"/>
	<mapping resource="model/AdeSuministro.hbm.xml"/>
	<mapping resource="model/Suministro.hbm.xml"/>
	<mapping resource="model/PagoSumiDet.hbm.xml"/>
	<mapping resource="model/PrecioSuministro.hbm.xml"/>
	<mapping resource="model/TipoSuministro.hbm.xml"/>
	<mapping resource="model/TipoProvee.hbm.xml"/>
	<mapping resource="model/PagoSuministro.hbm.xml"/>
	<mapping resource="model/UnidadProvee.hbm.xml"/>
	<mapping resource="model/PagoAdeDet.hbm.xml"/>
	<mapping resource="model/DetSumi.hbm.xml"/>
        <mapping resource="model/AdeCliente.hbm.xml"/>
        <mapping resource="model/SumiCliente.hbm.xml"/>
        <mapping resource="model/DetPagoSumi.hbm.xml"/>
        <mapping resource="model/DetPagoAde.hbm.xml"/>
        <mapping resource="model/ExtractoSumi.hbm.xml"/>
        <mapping resource="model/ExtractoSumicli.hbm.xml"/>
        <mapping resource="model/ExOrden.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
